.mt25px{
	margin-top: 25px;
}

.mb1{
	margin-bottom: 1em !important;
}

.mb2{
	margin-bottom: 2em !important;
}

.mb3px{
	margin-bottom: 3px;
}

.mb5px{
	margin-bottom: 5px;
}

.mb10px{
	margin-bottom: 10px;
}

.mb20px{
	margin-bottom: 20px;
}

.mr5px{
	margin-right: 5px;
}

.mr1{
	margin-right: 1em;
}

.pv1{
	padding-top: 1em;
	padding-bottom: 1em;
}

.pv2{
	padding-top: 2em;
	padding-bottom: 2em;
}

.ph1{
	padding-left: 1em;
	padding-right: 1em;
}

.ph2{
	padding-left: 2em;
	padding-right: 2em;
}

.ph5px{
	padding-left: 5px;
	padding-right: 5px;
}

.pr1{
	padding-right: 1em;
}

.pr5px{
	padding-right: 5px;
}

.pl5px{
	padding-left: 5px;
}

.pl1{
	padding-left: 1em;
}

.pb1{
	padding-bottom: 1em;
}

.pb2{
	padding-bottom: 2em;
}