$gray: #989898;
$light-gray: #9da1a2;
$dark-gray: #7c8283;

$light-blue: #03b9d6;
$dark-blue: #0066a9;
$navy-blue: #365375;

$black: #2e2e2e;
$pink: #FC6072;

$light: #f6e4cc;

.black{
	color: $black;
}

.pink{
	color: $pink
}

.white{
	color: white;
}

.gray{
	color: $gray;
}