header{
	position: fixed;
	width: calc(100vw - 15px);
	background-color: $black;
	height: 80px;
	left: 0;
	top: 0;
	z-index: 99;
	@media screen and (max-width: 576px) {
       width: 100vw;
    }
	.container-header{
		padding: 20px 0 20px 30px;
		display: flex;
		justify-content: space-between;
		max-width: 1280px;
		margin: 0 auto;
		width: 100%;
		position: relative;
		height: 100%;
		@media screen and (max-width: 950px) {
	       padding: 20px;
	    }
	    .main-logo{
	    	cursor: pointer;
	    }
	}
	ul{
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		&.menu-top{
			li{
				position: relative;
				margin-left: 10px;
				margin-right: 10px;
				a{
					position: relative;
					padding: 0.5rem 1.5rem;
    				color: #fff;
    				font-family: oswald;
    				letter-spacing: 1px;
    				font-size: 16px;
    				transition: .2s all;
    				&:after{
    					border-bottom: 1px solid;
					    bottom: 0;
					    content: "";
					    position: absolute;
					    right: 0;
					    transition: width .4s linear 0s;
					    width: 0;
    				}
    				&:hover, &.active{
    					background-color: $green;
    					&:after{
    						left: 0;
    						width: 100%;
    					}
    				}
				}
			}
		}
		&.utility-menu{
			li{
				position: relative;
				margin-right: 10px;
				a{
					position: relative;
					cursor: pointer;
					svg{
						width: 24px;
						height: 24px;
						fill: #fff;
						transition: .2s all;
					}
    				&:hover{
    					svg{
    						fill: $green;
    					}
    				}
    				.number-cart{
						position: absolute;
					    top: -5px;
					    left: 16px;
					    width: 14px;
					    height: 14px;
					    border-radius: 50%;
					    color: #fff!important;
					    text-align: center;
					    font-size: 11px;
					    font-weight: 500;
					    line-height: 22px;
					    background: #ff2b35;
					    align-items: center;
					    justify-content: center;
					    font-size: 8px;
					    display: none;
					    &.active{
					    	display: flex;
					    }
					}
				}
			}
		}
		@media screen and (max-width: 950px) {
	       display: none;
	    }
	}
	.mobile-menu-wrapper{
		display: none;
		height: 45px;
		@media screen and (max-width: 950px) {
	       display: flex;
	       justify-content: flex-end;
	       align-items: center;
	    }
	}
	.hamburger-menu, .mobile-cart{
		width: 45px;
		height: 45px;
		display: flex;
       	justify-content: center;
       	align-items: center;
       	cursor: pointer;
       	path{
       		fill: #fff;
       	}
       	svg{
       		width: 25px;
       	}
	}
	.mobile-cart{
		position: relative;
		svg{
			width: 27px;
			margin-top: -5px;
		}
		.number-cart-mobile{
			position: absolute;
		    top: 6px;
		    left: 31px;
		    width: 14px;
		    height: 14px;
		    border-radius: 50%;
		    color: #fff!important;
		    text-align: center;
		    font-size: 11px;
		    font-weight: 500;
		    line-height: 22px;
		    background: #ff2b35;
		    align-items: center;
		    justify-content: center;
		    font-size: 8px;
		    display: none;
		    &.active{
		    	display: flex;
		    }
		}
	}
}

.bg-overlay{
	transition: .3s ease;
	&.active{
		background-color: rgba(0,0,0,.66);
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 100;
	}
}

.minicart{
	background-color: $light-gray;
    z-index: 101;
    height: 100%;
    position: fixed;
    right: -380px;
    width: 380px;
    top: 0;
    transition: all .3s ease;
    max-width: calc(100% - 20px);
    &.active{
    	right: 0;
    	transition: all .3s ease;
    }
    .minicart-container{
    	position: relative;
    	height: 100%;
    	.mini-content{
    		.minicart-head{
    			.js-close-minicart{
    				cursor: pointer;
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 50px;
				    height: 50px;
				    color: $black;
				    border-right: 1px solid #ecebeb;
				    font-size: 12px;
				    text-transform: uppercase;
				    font-weight: 700;
				    text-align: center;
				    line-height: 52px;
				    svg{
				    	height: auto;
				    	width: 14px;
				    	fill: $black;
				    	transition: .2s all;
				    }
				    &:hover{
				    	svg{
				    		fill: $red;
				    	}
				    }
    			}
    			.title{
    				font-weight: 400;
				    line-height: 48px;
				    height: 50px;
				    color: $black;
				    border-bottom: 1px solid #ecebeb;
				    padding-bottom: 0;
				    margin: 0;
				    text-align: center;
				    font-size: 20px;
				    font-family: oswald;
				    letter-spacing: 1px;
    			}
    			.minicart-counter{
    				font-weight: 600;
    				font-size: 18px;
				    display: block;
				    min-width: 50px;
				    height: 50px;
				    text-align: center;
				    line-height: 51px;
				    color: $black;
				    position: absolute;
				    right: 0;
				    top: 0;
				    border: 1px solid #ecebeb;
				    border-top: transparent;
				    border-right: transparent;
    			}
    		}
    		.minicart-bottom{
    			text-align: center;
    			.shopping-list-wrapper{
    				position: relative;
				    height: calc(100vh - 167px);
				    max-height: 100%;
				    overflow-x: hidden;
				    overflow-y: auto;
				    padding: 0 20px;
				    .product-cart{
				    	overflow: hidden;
					    position: relative;
					    text-align: left;
					    ol{
					    	padding: 0;
					    	margin: 0;
					    	li{
					    		display: flex;
					    		border-bottom: 1px solid #e1e1e1;
							    align-items: flex-start;
							    position: relative;
							    padding: 20px 0;
							    align-items: center;
							    .thumb-img-product{
							    	width: 25%;
							    	img{
							    		vertical-align: middle;
    									border-style: none;
    									max-width: 100%;
							    	}
							    }
							    .product-detail{
							    	width: 70%;
    								padding-left: 20px;
    								color: $black;
    								h3{
    									line-height: 16px;
    									font-size: 16px;
    									font-family: oswald;
    									margin-bottom: 10px;
    									letter-spacing: 1px;
    									color: $green;
    								}
    								.product-info{
    									.product-qty{
    										line-height: 1;
    										margin-bottom: 5px;
    									}
    									.product-price{
    										span{
    											font-weight: 600;
    										}
    									}
    								}
							    }
							    .product-remove{
							    	width: 15%;
							    	a{
							    		position: absolute;
									    top: 19px;
									    right: 0;
									    cursor: pointer;
									    svg{
									    	width: 16px;
									    	path{
									    		fill: $black;
									    		transition: .2s all;
									    	}
									    }
									    &:hover{
									    	svg{
									    		path{
									    			fill: $red;
									    		}
									    	}
									    }
							    	}
							    }
					    	}
					    }
				    }
    			}
    			.sub-total{
    				height: 59px;
				    line-height: 59px;
				    background-color: #fff;
				    color: $black;
				    padding: 0 15px;
				    overflow: hidden;
				    bottom: 59px;
				    position: absolute;
				    width: 400px;
				    max-width: 100%;
				    .total-title{
				    	float: left;
				    	font-size: 18px;
				    	font-weight: 600;
				    }
				    .total-price{
				    	float: right;
				    	font-size: 16px;
				    	width: auto;
					    font-weight: 600;
					    display: block;
					    color: $green;
				    }
    			}
    			.action-checkout{
    				bottom: 0;
				    position: absolute;
				    width: 400px;
				    max-width: 100%;
				    .btn-viewcart, .btn-checkout{
				    	cursor: pointer;
				    	width: 50%;
					    display: block;
					    float: left;
					    font-weight: 600;
					    font-size: 12px;
					    text-transform: uppercase;
					    text-align: center;
					    letter-spacing: .2em;
					    height: 59px;
					    line-height: 61px;
					    color: #fff;
					    background-color: #2a2a2a;
					    transition: color .3s ease 0s,background-color .3s ease 0s;
					    &:hover{
					    	background: $green;
					    	color: #fff;
					    }
				    }
				    .btn-checkout{
					    background-color: $black;
				    }
    			}
    		}
    	}
    }
}

.mobile-menu-list{
	background-color: $light-gray;
    z-index: 101;
    height: 100%;
    position: fixed;
    right: -400px;
    width: 400px;
    top: 0;
    transition: all .3s ease;
    max-width: calc(100% - 20px);
    &.active{
    	right: 0;
    	transition: all .3s ease;
    }
    .tab-content-menu{
    	width: 100%;
    	margin-bottom: 0;
    	display: flex;
    	.toptab{
    		width: 50%;
    		display: inline-block;
    		a{
    			background-color: #fff;
			    color: $black;
			    float: left;
			    display: block;
			    width: 100%;
			    text-align: center;
			    height: 80px;
			    line-height: 80px;
			    padding: 0;
			    margin: 0;
			    text-transform: uppercase;
			    font-size: 16px;
			    text-decoration: none;
			    border-bottom: 1px solid $gray;
			    cursor: pointer;
			    font-family: oswald;
			    letter-spacing: 1px;
			    .toptab-icon{
			    	display: inline-block;
    				vertical-align: middle;
    				width: 22px;
    				margin-right: 10px;
    				margin-top: -2px;
			    }
			    svg{
			    	.rect, path{
    					fill: $black;
    				}
    				.rect1{
    					fill: $green;
    				}
			    }
    		}
    		&.active{
    			a{
    				background-color: #111;
    				color: #fff;
    				svg{
    					.rect, path{
	    					fill: #fff;
	    				}
	    				.rect1{
	    					fill: none;
	    				}
    				}
    			}
    		}
    	}
    }
    .tab-content{
    	width: 100%;
	    position: relative;
	    height: calc(100vh - 80px);
	    overflow: auto;
	    overflow-x: hidden;
	    .tab-panel{
	    	width: 100%;
	    	padding-top: 10px;
	    	display: none;
	    	.menu-horizon-list{
	    		border-bottom: 1px solid #ededed;
	    		a{
	    			font-size: 16px;
				    width: 100%;
				    height: 54px;
				    font-weight: 500;
				    padding: 15px;
				    color: $black;
				    display: inline-block;
				    transition: .5s;
				    text-decoration: none;
				    position: relative;
				    text-align: right;
				    font-family: oswald;
			    	letter-spacing: 1px;
			    	cursor: pointer;
				    &:before{
				    	position: absolute;
				    	content: '';
				    	height: 100%;
				    	width: 1px;
				    	background-color: #ededed;
				    	left: 60px;
				    	top: 0;
				    }
				    &:after{
				    	position: absolute;
				    	left: 25px;
				    	top: 50%;
				    	transform: translateY(-50%) rotate(180deg);
				    	content: "\f105";
				    	font-family: fontAwesome;
				    	color: #333;
				    	font-weight: 400;
				    }
	    		}
	    	}
	    	.menulogin-wrapper{
	    		display: flex;
	    		justify-content: center;
	    		flex-wrap: wrap;
	    		.form-login, .form-register{
	    			width: 100%;
	    			.form-check{
	    				font-size: 12px;
					    text-align: left;
					    padding: 8px 4px;
					    margin-bottom: 10px;
					    a{
					    	color: #555;
					    }
	    			}
	    			.btnNine-create{
	    				width: 100%;
	    				font-size: 15px;
	    				padding: 14px 20px 12px;
	    				svg{
	    					width: 20px;
	    					margin-right: 10px;
	    					margin-top: -4px;
	    					vertical-align: middle;
	    				}
	    			}
	    			.or-create{
	    				margin: 2em 0;
	    				overflow: hidden;
	    				text-align: center;
	    				span{
	    					font-size: 16px;
						    position: relative;
						    padding: 0 10px;
						    text-transform: uppercase;
						    letter-spacing: .2em;
						    color: $black;
						    &:before{
						    	content: "";
							    border-top: 1px solid #e4e4e4;
							    position: absolute;
							    top: 11px;
							    right: 100%;
							    width: 9999em;
						    }
						    &:after{
						    	content: "";
							    border-top: 1px solid #e4e4e4;
							    position: absolute;
							    top: 11px;
							    left: 100%;
							    width: 9999em;
						    }
	    				}
	    				.register-btn, .login-btn{
	    					font-size: 15px;
						    color: #333;
						    display: table;
						    height: auto;
						    line-height: 12px;
						    padding: 20px 0;
						    margin: 10px auto;
						    background: 0 0;
						    text-decoration: none;
						    font-weight: 500;
						    transition: .2s all;
						    &:hover{
						    	color: $green;
						    }
	    				}
	    			}
	    		}
	    		.form-register{
	    			margin: 30px;
	    			.btnNine-create{
	    				width: 70%;
	    				margin: 20px auto 0;
	    			}
	    		}
	    	}
	    }
	    #tab-menulogin{
	    	padding: 30px;
	    }
	    .close-menu-mobile{
	    	background-color: $green;
		    color: #fff;
		    z-index: 20;
		    height: 60px;
		    line-height: 60px;
		    text-align: center;
		    font-family: oswald;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    font-size: 15px;
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    cursor: pointer;
		    &:hover{
		    	background:darken($green, 10%);
		    }
	    }
    }
}