$gray: #646464;
$bg-gray: #ededed;
$light-gray: #eef2f3;
$dark-gray: #87898d;
$black: #000;

$light-blue: #2f69fe;
$dark-blue: #4964ab;
$navy-blue: #365375;

$red: #D32F2F;
$green: 88c540;

@font-face {
  font-family: opensans;
  src: url(opensans.ttf);
}

@font-face {
  font-family: oswald;
  src: url(oswald.ttf);
}