$gray: #ddd;
$bg-gray: #ededed;
$light-gray: #eef2f3;
$dark-gray: #87898d;
$black: #000;

$light-blue: #2f69fe;
$dark-blue: #4964ab;
$navy-blue: #365375;

$red: #D32F2F;
$green: #88c540;

.white{
	color: #fff;
}

.black{
	color: $black;
}

@font-face {
  font-family: opensans;
  src: url(Helvetica.ttf);
}

@font-face {
  font-family: oswald;
  src: url(Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: raleway;
  src: url(Raleway.ttf);
}