/* RESETS */

body, html { font-size: 100%; 	padding: 0; margin: 0; overflow: hidden;}

@font-face {
  font-family: Chomsky;
  src: url(../css/Chomsky.otf);
}

@font-face {
  font-family: Italiana;
  src: url(../css/Italiana.ttf);
}

@font-face {
  font-family: DSWalbaumfraktur;
  src: url(../css/DSWalbaumfraktur.ttf);
}

@font-face {
  font-family: Deutschlander;
  src: url(../css/Deutschlander.otf);
}

@font-face {
  font-family: Calendas;
  src: url(../css/Calendas.ttf);
}

@font-face {
  font-family: Ancient;
  src: url(../css/Ancient.ttf);
}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: Calendas;
    color: $black;
    background: #fff;
    line-height: 1.42857143;
    overflow: hidden; 
    font-size: 14px;
    @media screen and (min-width: 1600px) {
		font-size: 16px;
	}
}

a {
	color: $dark-blue;
	text-decoration: none;
}

p, h1, h2{
	margin: 0;
}

ul{
	li{
		list-style: none;
	}
}

a:hover {
	text-decoration: none;
}

:active, :focus, :visited, a, a:active, a:focus, a:visited {
    outline: 0;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.main-container{
	background: #fffcf9 url(../img/ricebg.jpg);
    background-size: 60px 60px;
    background-repeat: repeat;
    line-height: 1.42857143;
    overflow-x: hidden;
    max-width: 100vw;
    overflow-y: auto;
    .section{
    	padding-top: 70px;
    	@media screen and (min-width: 1600px) {
			padding-top: 80px;
		}
		@media screen and (max-width: 1130px) {
			padding-top: 60px;
		}
    	.content-title{
    		text-transform: uppercase;
		    line-height: 70px;
		    max-height: 250px;
		    overflow: hidden;
		    word-wrap: break-word;
		    font-family: Deutschlander;
		    font-size: 50px;
		    margin-bottom: 10px;
    	}
    	.inner-container{
    		width: 100%;
    		margin: 0 auto;
    		@media screen and (min-width: 1600px) {
				max-width: 90%
			}
    	}
    }
}

.loader-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	z-index: 999;
	.logo-loader-wrapper{
		width: 360px;
		height: 360px;
		background-color: #eee;
		border-radius: 100%;
		position: relative;
		@media screen and (max-width: 480px) {
			width: 180px;
			height: 180px;
		}
		&:before{
			content: "";
			color: red;
			position: absolute;
		  	z-index: 0;
		  	left: 50%;
		  	top: 50%;
		  	transform: translateX(-50%) translateY(-50%);
		  	display: block;
		  	width: 360px;
		  	height: 360px;
		  	background: #eee;
		  	border-radius: 50%;
		  	animation: pulse-border 1500ms ease-out infinite;
		  	@media screen and (max-width: 480px) {
				width: 180px;
				height: 180px;
			}
		}
		&:after{
			content: "";
		  	position: absolute;
		  	z-index: 1;
		  	left: 50%;
		  	top: 50%;
		  	transform: translateX(-50%) translateY(-50%);
		  	display: block;
		  	width: 360px;
		  	height: 360px;
		  	background: #fff;
		  	border-radius: 50%;
		  	transition: all 200ms;
		  	@media screen and (max-width: 480px) {
				width: 180px;
				height: 180px;
			}
		}
		img{
			width: 340px;
		    position: absolute;
		    z-index: 3;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    @media screen and (max-width: 480px) {
				width: 120px;
				height: 120px;
				top: 45%;
			}
		}
	}
}

