.container-home{
	#myVideo{
		position: absolute;
	  	right: 0;
	  	top: 0;
	  	min-width: 100%; 
	  	min-height: 100%;
	}
	.intro{
		.left-section{
			padding: 20px 0 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 440px;
			position: relative;
			.main-caption{
				font-family: Deutschlander;
				font-size: 120px;
				line-height: 100px;
				margin-bottom: 25px;
				// max-width: 390px;
			}
			p{
				margin-bottom: 40px;
			}
			.intro-thumbnail-wrapper{
				width: 100%;
				height: 145px;
				.thumbnail{
					width: 25%;
					flex-grow: 1;
					background-color: $gray;
					margin-right: 10px;
				}
			}
		}
		.right-section{
			padding: 25px 0 25px 25px;
			.image-wrapper-intro{
				background-color: $gray;
				width: 100%;
				height: 400px;
				// background-image: url('../img/intro-bg.jpeg');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
	.second-section{
		.left-section{
			position: relative;
			width: 31.33333333333333%;
		    margin-left: 0%;
		    margin-right: 3%;
		    height: 450px;
		    &:after{
		    	content: '';
			    display: block;
			    height: 100%;
			    width: 1px;
			    background-color: $black;
			    position: absolute;
			    top: 0;
			    right: -5%;
		    }
		    .left-section-content{
		    	height: 100%;
			    display: flex;
			    flex-direction: column;
			    position: relative;
			    .content{
			    	display: block;
			    	.content-desc{
			    		font-size: 14px;
			    		margin-bottom: 15px;
			    	}
			    }
			    .content-image{
			    	width: 100%;
				    height: 100%;
				    overflow: hidden;
				    text-align: center;
				    vertical-align: middle;
				    display: flex;
				    flex-direction: column;
				    flex-shrink: 50;
				    .image-link{
				    	width: 100%;
					    height: 100%;
					    display: inline-block;
					    overflow: hidden;
					    vertical-align: middle;
					    position: relative;
				    }
				    .content-image-image{
				    	background-color: $gray;
				    	background-size: cover;
					    transform: translate(-50%, -50%);
					    height: auto;
					    max-height: none;
					    max-width: none;
					    min-height: 100%;
					    min-width: 100%;
					    width: auto;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    overflow: hidden;
					    filter: grayscale(100%);
					    filter: #808080;
				    }
			    }
		    }
		}
		.right-section{
			width: 62.66666%;
			.right-content{
				position: relative;
				height: 450px;
				overflow: hidden;
			}
			.right-section-image{
				float: left;
				width: 300px;
				height: 100%;
				max-height: 370px;
				margin: 0 20px 20px 0;
				background-color: $gray;
				display: flex;
			    flex-direction: column;
			    flex-shrink: 50;
			    overflow: hidden;
			}
			p{
				margin-bottom: 15px;
			}
		}
	}
	.third-section{
		padding-top: 140px;
		.content-title{
			text-align: center;
			margin-bottom: 10px;
		}
		.card-section-wrapper{
			border: 1px solid $black;
			padding: 20px;
		}
		.card-section{
			position: relative;
			width: 31.33333333333333%;
		    margin-left: 0%;
		    margin-right: 3%;
		    height: 340px;
		    &:after{
		    	content: '';
			    display: block;
			    height: 100%;
			    width: 1px;
			    background-color: $black;
			    position: absolute;
			    top: 0;
			    right: -4%;
		    }
		    &:last-child{
		    	margin-right: 0;
		    	&:after{
				    width: 0;
			    }
		    }
		    .card-title{
		    	font-size: 20px;
		    	font-weight: bold;
		    	margin-bottom: 10px;
		    }
		    ul{
		    	padding-left: 0;
		    	margin-bottom: 18px;
		    	li{
		    		position: relative;
		    		padding-left: 25px;
		    		margin-bottom: 10px;
		    		&:before{
		    			content: '';
						display: inline-block;
						height: 15px;
						width: 15px;
						background-image: url(../img/circle.png);
						background-position: center;
						background-size: cover;
						top: 1px;
					    left: 0;
					    position: absolute;
		    		}
		    		&.checked{
		    			&:before{
		    				background-image: url(../img/tick.png);
		    			}
		    		}
		    	}
		    }
		}
	}
}

#fullpage{
	display: none;
}

