.relative{
	position: relative;
}

// widths

.w100{
	width: 100%
}

.w80{
	width:80%;
}

.w75{
	width: 75%;
}

.w60{
	width: 60%;
}

.w50{
	width: 50%;
}

.w40{
	width: 40%;
}

.w33{
	width: 33.33334%;
}

.w25{
	width: 25%;
}

.w20{
	width: 20%;
}

// font-weight

.thin{
	font-weight: 100;
}

.light{
	font-weight: 200;
}

.reguler{
	font-weight: 400;
}

.medium{
	font-weight: 500;
}

.semibold{
	font-weight: 600;
}

.bold{
	font-weight: 700;
}

// font sizes

.fz34{
	font-size:34px;
}

.fz32{
	font-size:32px;
}

.fz28{
	font-size: 28px;
}

.fz26{
	font-size: 26px;
}

.fz24{
	font-size: 24px;
}

.fz20{
	font-size: 20px;
}

.fz18{
	font-size: 18px;
}

.fz16{
	font-size: 16px;
}

.fz14{
	font-size: 14px;
}

.fz12{
	font-size: 12px;
}

.fz10{
	font-size: 10px;
}


.lh1{
	line-height: 1;
}