$gray: #ddd;
$bg-gray: #dadada;
$light-gray: #eef2f3;
$dark-gray: #D1D3D4;
$black: #1d1d1d;

$light-blue: #2f69fe;
$dark-blue: #4964ab;
$navy-blue: #365375;

$red: #D32F2F;
$green: #88c540;

$yellow: #FFFF00;

.white{
	color: #fff;
}

.black{
	color: $black;
}
