/* RESETS */

body, html { font-size: 100%; 	padding: 0; margin: 0; overflow: hidden;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none !important;
}

svg{
	vertical-align: middle;
}

h1, h2, h3{
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}

body {
    font-family: opensans;
    color: $black;
    background: #fff;
    line-height: 1.42857143;
    overflow-x: hidden; 
    font-size: 14px;
    height: 100vh;
    --color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #fff;
	--color-frame: #ff5ba4;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $black;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

:active, :focus, :visited, a, a:active, a:focus, a:visited {
    outline: 0;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.inline{
	display: inline-block;
	vertical-align: middle;
}

.semibold{
	font-weight: 600;
}

.wrapper{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	.container{
		max-width: 86vw;
		margin: 0 auto;
	    @media screen and (max-width: 992px) {
	       // max-width: 960px;
	    }
	    @media screen and (max-width: 576px) {
	       // max-width: 540px;
	    }
	}
	.section{
		position: relative;
	    width: 100vw;
	    top: 80px;
		background-color: #fff;
	}
}

ul.transition{
	display: flex;
	position: absolute;
	z-index: 100;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	pointer-events: none;
	li{
		transform: scaleY(0);
		background: $green;
		width: 33.3334%;
		list-style: none;
	}
}

